AWS_ACCESS_KEY_ID= # str
AWS_SECRET_ACCESS_KEY= # str
AWS_BUCKET_NAME= # str
AWS_REGION= # str

LAMBDA_FUNCTION_AUTH_TOKEN= # str

GEMINI_API_KEY= # str

API_URL=http://api.sofly.to

JWT_SECRET= # str
JWT_ALGORITHM=HS256
JWT_EXPIRE_DAYS=180

KEY_ID= # str
ISSUER_ID= # str
BUNDLE_ID= # str
APP_APPLE_ID= # str
TEAM_ID= # str

X_API_MARKET_KEY= # str

AERODATABOX_SERVICE_URL=http://127.0.0.1:8001/

BALANCE_REFILL_AMMOUNT=200
BALANCE_REFILL_THRESHOLD=50

DEV_ENV=true # bool - if true webhook wont be created
JWS_ENV=XCODE # XCODE | SANDBOX | PRODUCTION

MAX_PREMIUM_HOURS=12

APPLE_KEYS_URL=https://appleid.apple.com/auth/keys
APPLE_ISSUER=https://appleid.apple.com


GUEST_KEY= # str

APN_KEY_PATH=AuthKey_R7G482Y6WP.p8
APPLE_ROOT_CERT_PATH=AppleRoot.cer

AIRLINE_MAP_JSON=iata_to_icao.json